#image{position: fixed;top: 50%; left:50%; margin-top: -50px; margin-left: -70px; width: 130px;}
#text{font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; position: fixed; top: 60%; left: 49%; margin-left: 2px;}
#blue{width: 50px;}
#para{font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
#para2{font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
#scam{position: fixed; bottom: 100px;}